h2 {
  color: rgb(45, 90, 224);
}
ul {
  padding: 0;
}

li {
  transition: all 400ms ease-in-out;
  max-width: 400px;
  padding: 10px 0;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  margin: 0 auto;
}

li:hover {
  background-color: rgb(252, 252, 230);
}
.container {
  text-align: center;
}
.sunny-cloudy {
  color: #ffdf22;
  font-size: 50px;
}
.cloudy-rainy {
  color: #ffdf22;
}
.lighten {
  font-weight: 500;
}
.change {
  background-color: #05458e;
  color: white;
  font-weight: bold;
  border: 3px solid #ffffff;
  transition: all 2ms ease-in-out;
  border-radius: 30px;
  padding: 20px 50px;
  font-size: 14px;
  cursor: default;
}

.change:hover {
  color: #0f79f2;
  border: 2px solid #0f79f2;
  background: transparent;
  font-weight: bold;
}
